<div class="container">
  <div class="jumbotron">
    <h2>{{#link-to 'index'}}Coding Q&amp;A{{/link-to}}</h2>
    <a href="https://www.linkedin.com/" class="link">LinkedIn</a>
    <br>
    <a href="https://www.github.com/" class="link">GitHub</a>
  </div>

  {{outlet}}
</div>
