<h3>Questions:</h3>

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}  <br>
  {{/each}}

</ul>


{{new-question saveQuestion="saveQuestion"}}
